html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

.center {
    text-align: center;
}

.aliceblue {
    color: aliceblue
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
